
:root{
    margin: 0;
    font-size: 16px;
    box-sizing: border-box;
    --main-background-color: #181818;
    --small-text-fontsize: 12px;
    --small-text-color: #aaaa9a;
    
}
body{
    background-color: var(--main-background-color);
    font-family: 'Roboto';
}
a,a:active, a:hover,a:visited{
    text-decoration: none;
    color: inherit;
}
h1{
    font-size: 18px;
}
h2{
    font-size: 16px;
}
h3{
    font-size: 14px;
    font-weight: bold;
}
h4{
    font-weight: bold;
    font-size: 12px;
}
aside{
    grid-row: span 2;
}
.page-container{
    padding: 4.5rem 1rem;
    color: white;
    display: grid;
    grid-template-columns: 2fr minmax(280px,1fr);
    grid-template-rows: auto 1fr;
    column-gap: 1.7rem;
}

@media (min-width: 1200px){
    .page-container{
        padding: 4.5rem;
    }
}
@media (max-width: 1000px){
    .page-container{
        grid-template-columns: auto;
        grid-template-rows: repeat(3,auto);
    }
}
@media (max-width: 600px){
    .search-item{
        display: none;
    }
    .video-info p{
        display: none;
    }
}


.navbar-nav{
    position: fixed;
    width: 100%;
    height: 3.5rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    opacity: 0.95;
    z-index: 10;
}
#logo-container{
    display: flex;
    margin-right: 32px;
}
.nav-item{
    color:white;
}
#logo{
    margin-left: 10px;
    width: 72px;
}
.search-item{
    width: 550px;
}
.user-buttons{
    display: flex;
    margin-left: 32px;
    margin-right: 34px;
}
.icon-button{
    width: 2.5rem;
    font-size: 1rem;
    border: none;
    color: white;
    background-color: #202020;
}
.search-bar{
    width: 100%;
    display: flex;
    background-color: #121212;
    border: 1px solid #2e2e2e;
    border-radius: 2px;
    line-height: 1.5rem;
    

}
#search-button{
    border: none;
    height: calc(1.5rem + 2px);
    width: 4.5rem;
    background-color: #313131;
    color: #4e4e4e;
}
#search-field{
    width: 100%;
    margin-left: 5px;
    border: none;
    background-color: #121212;
    font-weight: bold;
    color: white;
}
#search-field::placeholder{
    font-weight: 100;
}
#sign-in-button{
    display: flex;
    align-items: center;
    background-color: #121212;
    border: 2px solid #3ea6ff;
    color: #3ea6ff;
    font-weight: bold;
    height: 2rem;
    width: 6.5rem;
}
#sign-in-button > img{
    margin-right: 5px;
}
.video-player{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}
.video-player iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.video-info-container{
    width: 100%;
    padding-top: 1.5rem;
    border-bottom: 1px solid rgba(170, 170, 170, .2);
    margin-bottom: -1px;
}
.video-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.video-info p{
    color: var(--small-text-color);
    font-size: var(--small-text-fontsize);
}
.video-options{
    display: flex;
    align-items: center;
    
}
.like-container{
    display: flex;
    border-bottom: 2px solid #aaa;
    margin-bottom: -1px;
}
#like, #dislike, #share, #save, #more{
    display: flex;
    align-items: center;
    height: 2.5rem;
    color: var(--small-text-color);
    background-color: var(--main-background-color);
    border: none;
}
#like img, #dislike img, #share img, #save img, #more img{
    width: 1.2rem;
    margin-right: 5px;
}
.description-box{
    border-bottom: 1px solid rgba(170, 170, 170, .2);
    margin-bottom: -1px;
    padding: 1.2rem 0 .5rem 0;
}
.description{
    padding-left: 61px;
    font-size: 14px;
}
.show-more{
    cursor: pointer;
    padding: 0;
    margin-top: 16px;
    background-color: var(--main-background-color);
    border: none;
    color: var(--small-text-color);
    font-size: var(--small-text-fontsize);
}
.channel{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
}
.channel-options{
    display: flex;
    align-items: center;
}
.channel-info span{
    font-size: var(--small-text-fontsize);
    color: var(--small-text-color);
}
.verified-mark{
    width: .8rem;
}

.channel-pic{
    margin-right: 1rem;
    width: 45px;
    min-width: 45px;
    border-radius: 50%;
}
#subscribe, #join{
    line-height: 1.8rem;
    border-radius: 2px;
    font-weight: bold;
}
#join{
    background-color: var(--main-background-color);
    border:1px solid #3ea6ff;
    color: #3ea6ff;
    width: 4rem;
    margin-right: 10px;
    
}
#subscribe{
    background-color: #bd0000;
    color: white;
    border: 1px solid #bd0000;
    width: 6rem;
}
.up-next{
    border-bottom: 1px solid rgba(170, 170, 170, .2);
    
}

.thumbnail{
    position: relative;
    width: 100%;
    display: flex;
    padding: .6rem 0;
}
.thumbnail:hover .watch-later-tooltip, .thumbnail:hover .playlist-tooltip, .thumbnail:hover .thumbnail-more{
    display: block;
}
.thumbnail-pic{
    min-width: 172px;
    max-height: 96px;
}
.watch-later-tooltip, .playlist-tooltip{
    display: none;
    position: absolute;
    padding: 2px;
    border-radius: 2px;
    left: 142px;
    background-color: #000000;
    z-index: 1;
}
.watch-later-tooltip{
    top: 18px;
    width: 20px;
    height: 20px;
}
.playlist-tooltip{
    top: 46px;
    width: 20px;
    height: 20px;
}
.thumbnail-more{
    position: absolute;
    display: none;
    width: 20px;
    height: 20px;
    bottom: 5px;
    right: 0px;
}
.thumbnail-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: .6rem;
}

.thumbnail-info span{
    color: var(--small-text-color);
    font-size: var(--small-text-fontsize);
}
.new-tag{
    background-color: #333333;
    width: 1.6rem;
    border-radius: 2px;
    padding: .1rem 0.3rem;
    font-weight: 500;
}
.comment-header{
    padding: 1.2rem 0;
    display: flex;
    align-items: center;
}
.comment-header img{
    margin-right: 8px;
}
#sort{
    display: flex;
    align-items: center;
    margin-left: 20px;
    background-color: var(--main-background-color);
    color: var(--small-text-color);
    font-weight: bold;
    border: none;
}
.add-comment{
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
}
#comment-input{
    width: 100%;
    color: white;
    background-color: var(--main-background-color);
    border: none;
    border-bottom: 1px solid rgba(170, 170, 170, .2);
    padding-bottom: .2rem;
    margin-bottom: -1;
}

.comment{
    width: 90%;
    display: flex;
    align-items: flex-start;
    padding-bottom: 2rem;
}
.comment-title{
    display: flex;
    align-items: center;
}
.comment-title span{
    margin-left: .5rem;
    font-size: var(--small-text-fontsize);
    color: var(--small-text-color);
}
.comment-content p{
    padding: .7rem 0;
    font-size: 14px;
    line-height: 1.3rem;
}
.read-more{
    color: var(--small-text-color);
}
.read-more:hover{
    cursor: pointer;
    text-decoration: underline;
}
.comment-interactions{
    display: flex;
    padding-top: .1rem;
    padding-bottom: .5rem;
    
}
.comment-like, .comment-dislike, .view-reply{
    display: flex;
    align-items: center;
    border: none;
    background-color: var(--main-background-color);
}
.comment-like img, .comment-dislike img{
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.comment-like{
    font-size: var(--small-text-fontsize);
    color: var(--small-text-color);
}
.reply{
    background-color: var(--main-background-color);
    border: none;
    color: var(--small-text-color);
}
.view-reply{
    color: #3ea6ff;
    font-weight: bold;
}
.fa-sort-down{
    margin-right: 1rem;
}
